body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #005a9c;
    /* Um azul Django */
}

ul {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
}

li {
    list-style-type: square;
}